http://pandas.pydata.org/pandas-docs/stable/10min.html

# 10 Minutes to pandas

This is a short introduction to pandas, geared mainly for new users. You can see more complex recipes in the [Cookbook](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Customarily, we import as follows:

In [2]:
%matplotlib inline

## Object Creation

See the [Data Structure Intro section](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro)

Creating a Series by passing a list of values, letting pandas create a default integer index:

In [3]:
s = pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
y= s.copy()

In [6]:
s.dropna(inplace=True)

In [7]:
s

0    1.0
1    3.0
2    5.0
4    6.0
5    8.0
dtype: float64

In [8]:
y

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:

In [9]:
y = s.copy()

In [10]:
y

0    1.0
1    3.0
2    5.0
4    6.0
5    8.0
dtype: float64

In [11]:
dates = pd.date_range('20130101', periods=6)

In [12]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [14]:
df

                   A         B         C         D
2013-01-01  0.038100  2.496041 -1.406182  0.262436
2013-01-02  1.484659  0.297980  0.523501  1.980459
2013-01-03  0.342644 -1.158899 -0.487363  0.859260
2013-01-04 -0.979683  0.365874  0.439211 -1.017057
2013-01-05  0.736420  1.282543  0.599737  1.146252
2013-01-06  0.500695  1.299916  0.486366  0.847649

Creating a DataFrame by passing a dict of objects that can be converted to series-like.

In [15]:
df2 = pd.DataFrame({'A':1.,
                   'B':pd.Timestamp('20130102'),
                   'C':pd.Series(1,index=list(range(5)),dtype='float32'),
                   'D':np.array([3]*5,dtype='int32'),
                   'E':pd.Categorical(["test","train","test","train","Five"]),
                   'F':'foo'})

In [16]:
df2.shape

(5, 6)

In [17]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
4  1.0 2013-01-02  1.0  3   Five  foo

In [18]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: A, dtype: float64

Having specific [dtypes](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-dtypes)

In [19]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

If you’re using IPython, tab completion for column names (as well as public attributes) is automatically enabled. Here’s a subset of the attributes that will be completed:

In [20]:
# df2.<TAB>

As you can see, the columns A, B, C, and D are automatically tab completed. E is there as well; the rest of the attributes have been truncated for brevity.

## Viewing Data

See the [Basics section](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics)

See the top & bottom rows of the frame

In [21]:
df.head(2)

                   A         B         C         D
2013-01-01  0.038100  2.496041 -1.406182  0.262436
2013-01-02  1.484659  0.297980  0.523501  1.980459

In [22]:
df.tail()

                   A         B         C         D
2013-01-02  1.484659  0.297980  0.523501  1.980459
2013-01-03  0.342644 -1.158899 -0.487363  0.859260
2013-01-04 -0.979683  0.365874  0.439211 -1.017057
2013-01-05  0.736420  1.282543  0.599737  1.146252
2013-01-06  0.500695  1.299916  0.486366  0.847649

Display the index, columns, and the underlying numpy data

In [23]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [25]:
df.values

array([[ 0.03810007,  2.49604108, -1.40618203,  0.26243635],
       [ 1.48465877,  0.29797957,  0.52350127,  1.98045859],
       [ 0.34264356, -1.15889938, -0.48736286,  0.85926031],
       [-0.97968334,  0.36587368,  0.43921124, -1.01705725],
       [ 0.73642006,  1.28254286,  0.59973696,  1.14625242],
       [ 0.50069501,  1.29991577,  0.48636585,  0.8476486 ]])

Describe shows a quick statistic summary of your data

In [26]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.353806  0.763909  0.025878  0.679833
std    0.815449  1.235255  0.809203  1.002316
min   -0.979683 -1.158899 -1.406182 -1.017057
25%    0.114236  0.314953 -0.255719  0.408739
50%    0.421669  0.824208  0.462789  0.853454
75%    0.677489  1.295573  0.514217  1.074504
max    1.484659  2.496041  0.599737  1.980459

Transposing your data

In [27]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.038100    1.484659    0.342644   -0.979683    0.736420    0.500695
B    2.496041    0.297980   -1.158899    0.365874    1.282543    1.299916
C   -1.406182    0.523501   -0.487363    0.439211    0.599737    0.486366
D    0.262436    1.980459    0.859260   -1.017057    1.146252    0.847649

Sorting by an axis

In [ ]:
df.sort_index(axis=1, ascending=False)

Sorting by value

In [ ]:
df.sort_values(by='B')

## Selection

**Note:** While standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc, .iloc and .ix.

See the indexing documentation [Indexing and Selecting Data](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing) and [MultiIndex / Advanced Indexing](http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced)

### Getting

Selecting a single column, which yields a Series, equivalent to df.A

In [28]:
df['A']

2013-01-01    0.038100
2013-01-02    1.484659
2013-01-03    0.342644
2013-01-04   -0.979683
2013-01-05    0.736420
2013-01-06    0.500695
Freq: D, Name: A, dtype: float64

Selecting via [], which slices the rows.

In [29]:
df[0:3]

                   A         B         C         D
2013-01-01  0.038100  2.496041 -1.406182  0.262436
2013-01-02  1.484659  0.297980  0.523501  1.980459
2013-01-03  0.342644 -1.158899 -0.487363  0.859260

In [30]:
df['20130103':'20130105']

                   A         B         C         D
2013-01-03  0.342644 -1.158899 -0.487363  0.859260
2013-01-04 -0.979683  0.365874  0.439211 -1.017057
2013-01-05  0.736420  1.282543  0.599737  1.146252

In [46]:
df.iloc[:,0:3]

                   A         B         C
2013-01-01  0.038100  2.496041 -1.406182
2013-01-02  1.484659  0.297980  0.523501
2013-01-03  0.342644 -1.158899 -0.487363
2013-01-04 -0.979683  0.365874  0.439211
2013-01-05  0.736420  1.282543  0.599737
2013-01-06  0.500695  1.299916  0.486366

### Selection by Label

See more in [Selection by Label](Selection by Label)

For getting a cross section using a label

In [ ]:
df.loc[dates[0]]

Selection by Label

In [ ]:
df.loc[dates[0]:dates[3],['A','B']]

Showing label slicing, both endpoints are included

In [ ]:
df.loc['20130102':'20130104',['A','B']]

Reduction in the dimensions of the returned object

In [ ]:
df.loc["2013-01-02"]

In [ ]:
df["A"]

In [ ]:
df.loc['20130102',['A','B']]

In [ ]:
df.loc[[pd.Timestamp(t) for t in ['20130105','20130102']],['A','B']]

For getting a scalar value

In [ ]:
type(df.loc[dates[0],'A'])

### Selection by Position

See more in [Selection by Position](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-integer)

Select via the position of the passed integers

In [ ]:
df.iloc[3]

By integer slices, acting similar to numpy/python

In [ ]:
df.iloc[3:5,1:5:2]

By lists of integer position locations, similar to the numpy/python style

In [ ]:
df.iloc[1:5:2,[0,2]]

For slicing rows explicitly

In [ ]:
df.iloc[1:3,:]

For slicing columns explicitly

In [ ]:
df.iloc[:,1:3]

For getting a value explicitly

In [ ]:
df.iloc[1,1]

For getting fast access to a scalar (equiv to the prior method)

In [ ]:
df.iat[1,1]

## Boolean Indexing

Using a single column’s values to select data.

In [ ]:
x= df.A>0

In [ ]:
x

In [ ]:
df[df["A"]>0]

In [ ]:
df[df.A > 0]

A where operation for getting.

In [ ]:
df[df > 0]

Using the isin() method for filtering:

In [ ]:
df2 = df.copy()

In [ ]:
df2['E'] = ['one','one', 'two','three','four','three']

In [ ]:
df2['F'] = df2["A"] + df2["B"]

In [ ]:
df2

## Missing Data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. See the Missing Data section

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data.

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [ ]:
df1

In [ ]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [ ]:
df1

To drop any rows that have missing data.

In [ ]:
df1.dropna(how='any')

In [ ]:
df1

Filling missing data

In [ ]:
df1.fillna(value=5)

To get the boolean mask where values are nan

In [ ]:
pd.isnull(df1)

## Operations

See the [Basic section on Binary Ops](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-binop)

### Stats

Operations in general exclude missing data.

Performing a descriptive statistic

In [ ]:
df.mean()

Same operation on the other axis

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension.

### Apply

Applying functions to the data

In [ ]:
df

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min(),axis = 1)

### Histogramming

See more at [Histogramming and Discretization](http://pandas.pydata.org/pandas-docs/stable/basics.html#basics-discretization)

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [ ]:
s

In [ ]:
s.value_counts()

### String Methods

Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses [regular expressions](https://docs.python.org/2/library/re.html) by default (and in some cases always uses them). See more at [Vectorized String Methods](http://pandas.pydata.org/pandas-docs/stable/text.html#text-string-methods).

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [ ]:
s.str.lower()

## Merge

### Concat

pandas provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

See the [Merging section](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging)

Concatenating pandas objects together with concat():

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

In [ ]:
df

In [ ]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]

In [ ]:
pieces

In [ ]:
pd.concat(pieces)

### Join

SQL style merges. See the [Database style joining](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join)

In [ ]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [ ]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [ ]:
left

In [ ]:
right

In [ ]:
pd.merge(left, right, on='key')

### Append

Append rows to a dataframe. See the [Appending](http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-concatenation)

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

In [ ]:
df

In [ ]:
s = df.iloc[3]

In [ ]:
df.append(s, ignore_index=True)

## Grouping

By “group by” we are referring to a process involving one or more of the following steps

* **Splitting** the data into groups based on some criteria
* **Applying** a function to each group independently
* **Combining** the results into a data structure

See the [Grouping section](http://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby)

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                                    'B' : ['one', 'one', 'two', 'three','two', 'two', 'one', 'three'],
                                    'C' : np.random.randn(8),
                                     'D' : np.random.randn(8)})

In [ ]:
df

Grouping and then applying a function sum to the resulting groups.

In [ ]:
df.groupby('A').sum()

In [ ]:
df.groupby(['A','B']).sum()

## Getting Data In/Out

### CSV
[Writing to a csv file](http://pandas.pydata.org/pandas-docs/stable/io.html#io-store-in-csv)

In [ ]:
df.to_csv('foo.csv')

[Reading from a csv file](http://pandas.pydata.org/pandas-docs/stable/io.html#io-read-csv-table)

In [ ]:
pd.read_csv('foo.csv')

Reading from a HDF5 Store